set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_2_0_ 1 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_3_0_ 1 3 0 #ICE_CARRY_IN_MUX
set_location shift_0_2_THRU_LUT4_0 4 2 3 #SB_LUT4
set_location shift_0_1_THRU_LUT4_0 4 2 4 #SB_LUT4
set_location shift2_0_2_THRU_LUT4_0 6 2 1 #SB_LUT4
set_location shift2_0_1_THRU_LUT4_0 6 2 7 #SB_LUT4
set_location clk_div_11_THRU_LUT4_0 2 7 7 #SB_LUT4
set_location shift2_ret_1_RNITCI51 6 2 4 #SB_LUT4
set_location delay_cry_c[4] 1 2 4 #SB_CARRY
set_location delay_cry_c[11] 1 3 3 #SB_CARRY
set_location clk_div_RNIM1KP1[11] 2 6 4 #SB_LUT4
set_location cntr_esr[3] 1 5 0 #SB_DFFESR
set_location clk_div[7] 2 8 6 #SB_DFF
set_location clk_div_1_cry_2_c 2 8 1 #SB_CARRY
set_location delay[7] 1 2 7 #SB_DFF
set_location up_RNO[1] 4 3 5 #SB_LUT4
set_location delay_RNO[10] 1 3 2 #SB_LUT4
set_location PWM_NUM_RNIKTNT2[0] 2 6 2 #SB_LUT4
set_location delay_RNO[0] 1 2 0 #SB_LUT4
set_location clk_div_RNO[0] 2 7 1 #SB_LUT4
set_location delay_RNI5HJ71[10] 2 2 2 #SB_LUT4
set_location delay_RNI2HGB1[0] 2 2 5 #SB_LUT4
set_location how_RNO[2] 2 4 4 #SB_LUT4
set_location clk_div_1_cry_7_c 2 8 6 #SB_CARRY
set_location PORT_r_RNO_2 2 7 3 #SB_LUT4
set_location delay_RNO[5] 1 2 5 #SB_LUT4
set_location clk_div_RNI86O8[8] 1 7 7 #SB_CARRY
set_location delay_RNIKNK01[4] 2 2 1 #SB_LUT4
set_location cntr_RNO[4] 1 6 1 #SB_LUT4
set_location clk_div[10] 2 9 1 #SB_DFF
set_location delay[0] 1 2 0 #SB_DFF
set_location clk_div_1_cry_6_c 2 8 5 #SB_CARRY
set_location PWM_NUM[3] 2 5 1 #SB_DFFE
set_location delay_cry_c[7] 1 2 7 #SB_CARRY
set_location cntr[0] 1 6 5 #SB_DFFSR
set_location clk_div_RNIUAR4[4] 1 7 3 #SB_CARRY
set_location delay_RNO[1] 1 2 1 #SB_LUT4
set_location delay[14] 1 3 6 #SB_DFF
set_location cntr_RNO[1] 1 6 4 #SB_LUT4
set_location clk_div_RNO[7] 2 8 6 #SB_LUT4
set_location clk_div_RNIM6S3[3] 1 7 2 #SB_CARRY
set_location up_e[0] 5 2 7 #SB_DFFE
set_location shift_0[1] 4 2 4 #SB_DFF
set_location delay_RNO[8] 1 3 0 #SB_LUT4
set_location clk_div_RNO[8] 2 8 7 #SB_LUT4
set_location clk_div[2] 2 8 1 #SB_DFF
set_location delay_cry_c[2] 1 2 2 #SB_CARRY
set_location delay_cry_c[13] 1 3 5 #SB_CARRY
set_location delay[4] 1 2 4 #SB_DFF
set_location clk_div_RNO[10] 2 9 1 #SB_LUT4
set_location clk_div_1_cry_4_c 2 8 3 #SB_CARRY
set_location PORT_r_RNO_1 2 5 0 #SB_LUT4
set_location up_RNO[2] 4 3 2 #SB_LUT4
set_location delay_RNO[13] 1 3 5 #SB_LUT4
set_location cntr_esr_RNO_0[3] 2 6 3 #SB_LUT4
set_location cntr[4] 1 6 1 #SB_DFFSR
set_location clk_div_RNIHMP6[6] 1 7 5 #SB_CARRY
set_location PWM_NUM_RNIDRQK[3] 2 5 2 #SB_LUT4
set_location shift2_ret_1_RNO 6 2 5 #SB_LUT4
set_location delay[10] 1 3 2 #SB_DFF
set_location cntr_RNO[5] 1 6 3 #SB_LUT4
set_location clk_div_RNO[3] 2 8 2 #SB_LUT4
set_location clk_div[9] 2 9 0 #SB_DFF
set_location clk_div[11] 2 7 7 #SB_DFF
set_location down_RNO[1] 5 3 0 #SB_LUT4
set_location delay[1] 1 2 1 #SB_DFF
set_location PWM_NUM[4] 2 5 4 #SB_DFFE
set_location PWM_NUM_10_2_0_.N_46_i 2 4 3 #SB_LUT4
set_location how_RNO[1] 2 4 1 #SB_LUT4
set_location delay_cry_c[6] 1 2 6 #SB_CARRY
set_location delay[8] 1 3 0 #SB_DFF
set_location cntr[1] 1 6 4 #SB_DFFSR
set_location clk_div_1_cry_5_c 2 8 4 #SB_CARRY
set_location clk_div_1_cry_3_c 2 8 2 #SB_CARRY
set_location up[1] 4 3 5 #SB_DFFE
set_location down[2] 5 3 2 #SB_DFFE
set_location delay_RNO[6] 1 2 6 #SB_LUT4
set_location cntr_RNO[2] 1 6 0 #SB_LUT4
set_location clk_div_RNO[6] 2 8 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location shift_0[2] 4 2 3 #SB_DFF
set_location delay_RNO[9] 1 3 1 #SB_LUT4
set_location clk_div[5] 2 8 4 #SB_DFF
set_location PWM_NUM_RNO[4] 2 5 4 #SB_LUT4
set_location delay_cry_c[1] 1 2 1 #SB_CARRY
set_location delay_RNIABQR[14] 1 3 7 #SB_LUT4
set_location delay_RNI55JF4[10] 2 2 6 #SB_LUT4
set_location delay[5] 1 2 5 #SB_DFF
set_location clk_div_RNIF3T2[2] 1 7 1 #SB_CARRY
set_location clk_div_RNIAAMP[10] 1 8 1 #SB_CARRY
set_location PWM_NUM[0] 2 4 3 #SB_DFFE
set_location PORT_r_RNO_0 2 7 4 #SB_LUT4
set_location delay_RNO[12] 1 3 4 #SB_LUT4
set_location cntr[5] 1 6 3 #SB_DFFSR
set_location clk_div_1_cry_1_c 2 8 0 #SB_CARRY
set_location PORT_r 2 6 0 #SB_DFFE
set_location shift2_0[1] 6 2 7 #SB_DFF
set_location delay_RNO[2] 1 2 2 #SB_LUT4
set_location delay[13] 1 3 5 #SB_DFF
set_location cntr_RNO[6] 2 6 7 #SB_LUT4
set_location clk_div_RNO[2] 2 8 1 #SB_LUT4
set_location clk_div_RNILFN9[9] 1 8 0 #SB_CARRY
set_location clk_div[8] 2 8 7 #SB_DFF
set_location shift_ret_1_RNI69IQ 4 2 5 #SB_LUT4
set_location how[2] 2 4 4 #SB_DFFE
set_location down_e_RNO[0] 6 3 4 #SB_LUT4
set_location delay[2] 1 2 2 #SB_DFF
set_location clk_div_1_cry_8_c 2 8 7 #SB_CARRY
set_location clk_div[1] 1 8 4 #SB_DFF
set_location PWM_NUM[5] 2 5 3 #SB_DFFE
set_location how_RNO[0] 2 4 2 #SB_LUT4
set_location delay_cry_c[5] 1 2 5 #SB_CARRY
set_location delay_cry_c[10] 1 3 2 #SB_CARRY
set_location delay[9] 1 3 1 #SB_DFF
set_location up[2] 4 3 2 #SB_DFFE
set_location down[1] 5 3 0 #SB_DFFE
set_location delay_RNO[7] 1 2 7 #SB_LUT4
set_location clk_div_RNO[5] 2 8 4 #SB_LUT4
set_location clk_div[4] 2 8 3 #SB_DFF
set_location clk_div_1_cry_9_c 2 9 0 #SB_CARRY
set_location PWM_NUM_RNO[5] 2 5 3 #SB_LUT4
set_location delay_cry_c[0] 1 2 0 #SB_CARRY
set_location delay[6] 1 2 6 #SB_DFF
set_location cntr_esr_RNO[3] 1 5 0 #SB_LUT4
set_location PWM_NUM[1] 2 5 5 #SB_DFFE
set_location PORT_r_RNO 2 6 0 #SB_LUT4
set_location shift_ret_1 4 2 0 #SB_DFF
set_location delay_cry_c[9] 1 3 1 #SB_CARRY
set_location delay_RNO[11] 1 3 3 #SB_LUT4
set_location cntr[2] 1 6 0 #SB_DFFSR
set_location shift2_0[2] 6 2 1 #SB_DFF
set_location delay_RNO[3] 1 2 3 #SB_LUT4
set_location delay[12] 1 3 4 #SB_DFF
set_location clk_div_RNO[1] 1 8 4 #SB_LUT4
set_location PWM_NUM_RNIDNV4[4] 2 6 5 #SB_LUT4
set_location PWM_NUM_10_2_0_.m3 2 5 5 #SB_LUT4
set_location how[1] 2 4 1 #SB_DFFE
set_location delay[3] 1 2 3 #SB_DFF
set_location clk_div_RNI06L91[11] 1 8 2 #SB_LUT4
set_location clk_div[0] 2 7 1 #SB_DFF
set_location PWM_NUM_RNIQ48Q[0] 2 6 1 #SB_LUT4
set_location shift2_ret_1 6 2 5 #SB_DFF
set_location delay_RNO[14] 1 3 6 #SB_LUT4
set_location cntr_RNIB8QE[2] 2 7 0 #SB_LUT4
set_location delay_RNO[4] 1 2 4 #SB_LUT4
set_location cntr[6] 2 6 7 #SB_DFFE
set_location clk_div_RNO[4] 2 8 3 #SB_LUT4
set_location clk_div_RNI91U1[1] 1 7 0 #SB_CARRY
set_location clk_div_RNI7GQ5[5] 1 7 4 #SB_CARRY
set_location shift_ret_1_RNO 4 2 0 #SB_LUT4
set_location clk_div_RNISTO7[7] 1 7 6 #SB_CARRY
set_location PWM_NUM[2] 2 5 7 #SB_DFFE
set_location delay_cry_c[8] 1 3 0 #SB_CARRY
set_location cntr_RNO[0] 1 6 5 #SB_LUT4
set_location PWM_NUM_RNIQIR6[1] 2 5 6 #SB_LUT4
set_location how[0] 2 4 2 #SB_DFFE
set_location down_RNO[2] 5 3 2 #SB_LUT4
set_location clk_div_RNO[9] 2 9 0 #SB_LUT4
set_location clk_div[3] 2 8 2 #SB_DFF
set_location how_RNO_0[2] 2 3 6 #SB_LUT4
set_location delay_cry_c[3] 1 2 3 #SB_CARRY
set_location delay_cry_c[12] 1 3 4 #SB_CARRY
set_location up_e_RNO[0] 5 2 7 #SB_LUT4
set_location PWM_NUM_10_2_0_.m5 2 5 7 #SB_LUT4
set_location down_e[0] 6 3 4 #SB_DFFE
set_location delay[11] 1 3 3 #SB_DFF
set_location clk_div[6] 2 8 5 #SB_DFF
set_location PWM_NUM_RNO[3] 2 5 1 #SB_LUT4
set_io PORT1 1
set_io CLK 15
set_io BUT2 42
set_io BUT1 41
