set_location BIT_RNO[0] 2 1 7 # SB_LUT4 (LogicCell: BIT[0]_LC_0)
set_location BIT[0] 2 1 7 # SB_DFF (LogicCell: BIT[0]_LC_0)
set_location BIT_RNO[1] 1 3 3 # SB_LUT4 (LogicCell: BIT[1]_LC_1)
set_location BIT[1] 1 3 3 # SB_DFF (LogicCell: BIT[1]_LC_1)
set_location BIT_RNO[2] 2 1 6 # SB_LUT4 (LogicCell: BIT[2]_LC_2)
set_location BIT[2] 2 1 6 # SB_DFF (LogicCell: BIT[2]_LC_2)
set_location BIT_RNO[3] 1 3 5 # SB_LUT4 (LogicCell: BIT[3]_LC_3)
set_location BIT[3] 1 3 5 # SB_DFF (LogicCell: BIT[3]_LC_3)
set_location BIT_RNO[4] 2 1 0 # SB_LUT4 (LogicCell: BIT[4]_LC_4)
set_location BIT[4] 2 1 0 # SB_DFF (LogicCell: BIT[4]_LC_4)
set_location BIT_RNO[5] 1 3 7 # SB_LUT4 (LogicCell: BIT[5]_LC_5)
set_location BIT[5] 1 3 7 # SB_DFF (LogicCell: BIT[5]_LC_5)
set_location BIT_RNO[6] 2 1 5 # SB_LUT4 (LogicCell: BIT[6]_LC_6)
set_location BIT[6] 2 1 5 # SB_DFF (LogicCell: BIT[6]_LC_6)
set_location BIT_RNO[7] 1 3 4 # SB_LUT4 (LogicCell: BIT[7]_LC_7)
set_location BIT[7] 1 3 4 # SB_DFF (LogicCell: BIT[7]_LC_7)
set_location delay_RNI2HGB1[0] 6 3 4 # SB_LUT4 (LogicCell: delay_RNI2HGB1[0]_LC_8)
set_location delay_RNI55JF4[10] 6 3 1 # SB_LUT4 (LogicCell: delay_RNI55JF4[10]_LC_9)
set_location delay_RNI5HJ71[10] 6 3 0 # SB_LUT4 (LogicCell: delay_RNI5HJ71[10]_LC_10)
set_location delay_RNIABQR[14] 5 4 7 # SB_LUT4 (LogicCell: delay_RNIABQR[14]_LC_11)
set_location delay_RNIKNK01[4] 6 3 2 # SB_LUT4 (LogicCell: delay_RNIKNK01[4]_LC_12)
set_location delay_RNO[0] 5 3 0 # SB_LUT4 (LogicCell: delay[0]_LC_13)
set_location delay[0] 5 3 0 # SB_DFF (LogicCell: delay[0]_LC_13)
set_location delay_cry_c[0] 5 3 0 # SB_CARRY (LogicCell: delay[0]_LC_13)
set_location delay_RNO[1] 5 3 1 # SB_LUT4 (LogicCell: delay[1]_LC_14)
set_location delay[1] 5 3 1 # SB_DFF (LogicCell: delay[1]_LC_14)
set_location delay_cry_c[1] 5 3 1 # SB_CARRY (LogicCell: delay[1]_LC_14)
set_location delay_RNO[10] 5 4 2 # SB_LUT4 (LogicCell: delay[10]_LC_15)
set_location delay[10] 5 4 2 # SB_DFF (LogicCell: delay[10]_LC_15)
set_location delay_cry_c[10] 5 4 2 # SB_CARRY (LogicCell: delay[10]_LC_15)
set_location delay_RNO[11] 5 4 3 # SB_LUT4 (LogicCell: delay[11]_LC_16)
set_location delay[11] 5 4 3 # SB_DFF (LogicCell: delay[11]_LC_16)
set_location delay_cry_c[11] 5 4 3 # SB_CARRY (LogicCell: delay[11]_LC_16)
set_location delay_RNO[12] 5 4 4 # SB_LUT4 (LogicCell: delay[12]_LC_17)
set_location delay[12] 5 4 4 # SB_DFF (LogicCell: delay[12]_LC_17)
set_location delay_cry_c[12] 5 4 4 # SB_CARRY (LogicCell: delay[12]_LC_17)
set_location delay_RNO[13] 5 4 5 # SB_LUT4 (LogicCell: delay[13]_LC_18)
set_location delay[13] 5 4 5 # SB_DFF (LogicCell: delay[13]_LC_18)
set_location delay_cry_c[13] 5 4 5 # SB_CARRY (LogicCell: delay[13]_LC_18)
set_location delay_RNO[14] 5 4 6 # SB_LUT4 (LogicCell: delay[14]_LC_19)
set_location delay[14] 5 4 6 # SB_DFF (LogicCell: delay[14]_LC_19)
set_location delay_RNO[2] 5 3 2 # SB_LUT4 (LogicCell: delay[2]_LC_20)
set_location delay[2] 5 3 2 # SB_DFF (LogicCell: delay[2]_LC_20)
set_location delay_cry_c[2] 5 3 2 # SB_CARRY (LogicCell: delay[2]_LC_20)
set_location delay_RNO[3] 5 3 3 # SB_LUT4 (LogicCell: delay[3]_LC_21)
set_location delay[3] 5 3 3 # SB_DFF (LogicCell: delay[3]_LC_21)
set_location delay_cry_c[3] 5 3 3 # SB_CARRY (LogicCell: delay[3]_LC_21)
set_location delay_RNO[4] 5 3 4 # SB_LUT4 (LogicCell: delay[4]_LC_22)
set_location delay[4] 5 3 4 # SB_DFF (LogicCell: delay[4]_LC_22)
set_location delay_cry_c[4] 5 3 4 # SB_CARRY (LogicCell: delay[4]_LC_22)
set_location delay_RNO[5] 5 3 5 # SB_LUT4 (LogicCell: delay[5]_LC_23)
set_location delay[5] 5 3 5 # SB_DFF (LogicCell: delay[5]_LC_23)
set_location delay_cry_c[5] 5 3 5 # SB_CARRY (LogicCell: delay[5]_LC_23)
set_location delay_RNO[6] 5 3 6 # SB_LUT4 (LogicCell: delay[6]_LC_24)
set_location delay[6] 5 3 6 # SB_DFF (LogicCell: delay[6]_LC_24)
set_location delay_cry_c[6] 5 3 6 # SB_CARRY (LogicCell: delay[6]_LC_24)
set_location delay_RNO[7] 5 3 7 # SB_LUT4 (LogicCell: delay[7]_LC_25)
set_location delay[7] 5 3 7 # SB_DFF (LogicCell: delay[7]_LC_25)
set_location delay_cry_c[7] 5 3 7 # SB_CARRY (LogicCell: delay[7]_LC_25)
set_location delay_RNO[8] 5 4 0 # SB_LUT4 (LogicCell: delay[8]_LC_26)
set_location delay[8] 5 4 0 # SB_DFF (LogicCell: delay[8]_LC_26)
set_location delay_cry_c[8] 5 4 0 # SB_CARRY (LogicCell: delay[8]_LC_26)
set_location delay_RNO[9] 5 4 1 # SB_LUT4 (LogicCell: delay[9]_LC_27)
set_location delay[9] 5 4 1 # SB_DFF (LogicCell: delay[9]_LC_27)
set_location delay_cry_c[9] 5 4 1 # SB_CARRY (LogicCell: delay[9]_LC_27)
set_location down_RNO_0[2] 4 2 3 # SB_LUT4 (LogicCell: down_RNO_0[2]_LC_28)
set_location down_RNO[1] 4 2 0 # SB_LUT4 (LogicCell: down[1]_LC_29)
set_location down[1] 4 2 0 # SB_DFF (LogicCell: down[1]_LC_29)
set_location down_RNO[2] 4 2 4 # SB_LUT4 (LogicCell: down[2]_LC_30)
set_location down[2] 4 2 4 # SB_DFF (LogicCell: down[2]_LC_30)
set_location down_e_RNO[0] 5 2 3 # SB_LUT4 (LogicCell: down_e[0]_LC_31)
set_location down_e[0] 5 2 3 # SB_DFFE (LogicCell: down_e[0]_LC_31)
set_location how_RNO[0] 2 2 3 # SB_LUT4 (LogicCell: how[0]_LC_32)
set_location how[0] 2 2 3 # SB_DFF (LogicCell: how[0]_LC_32)
set_location how_RNO_0[2] 2 2 0 # SB_LUT4 (LogicCell: how_RNO_0[2]_LC_33)
set_location how_RNO[1] 2 2 7 # SB_LUT4 (LogicCell: how[1]_LC_34)
set_location how[1] 2 2 7 # SB_DFF (LogicCell: how[1]_LC_34)
set_location how_RNO[2] 2 2 1 # SB_LUT4 (LogicCell: how[2]_LC_35)
set_location how[2] 2 2 1 # SB_DFF (LogicCell: how[2]_LC_35)
set_location shift2_0_RNIJLUP[1] 4 2 7 # SB_LUT4 (LogicCell: shift2_0_RNIJLUP[1]_LC_36)
set_location shift_0_RNIETMJ[1] 4 1 3 # SB_LUT4 (LogicCell: shift_0_RNIETMJ[1]_LC_37)
set_location up_RNO_0[2] 4 1 6 # SB_LUT4 (LogicCell: up_RNO_0[2]_LC_38)
set_location up_RNO[1] 4 1 4 # SB_LUT4 (LogicCell: up[1]_LC_39)
set_location up[1] 4 1 4 # SB_DFF (LogicCell: up[1]_LC_39)
set_location up_RNO[2] 4 1 7 # SB_LUT4 (LogicCell: up[2]_LC_40)
set_location up[2] 4 1 7 # SB_DFF (LogicCell: up[2]_LC_40)
set_location up_e_RNO[0] 5 1 1 # SB_LUT4 (LogicCell: up_e[0]_LC_41)
set_location up_e[0] 5 1 1 # SB_DFFE (LogicCell: up_e[0]_LC_41)
set_location shift2_0_1_THRU_LUT4_0 4 2 1 # SB_LUT4 (LogicCell: shift2_0[1]_LC_42)
set_location shift2_0[1] 4 2 1 # SB_DFF (LogicCell: shift2_0[1]_LC_42)
set_location shift2_0_2_THRU_LUT4_0 4 2 2 # SB_LUT4 (LogicCell: shift2_0[2]_LC_43)
set_location shift2_0[2] 4 2 2 # SB_DFF (LogicCell: shift2_0[2]_LC_43)
set_location shift2_0_RNIJLUP_1_shift2_ret_1_REP_LUT4_0 4 2 5 # SB_LUT4 (LogicCell: shift2_ret_1_LC_44)
set_location shift2_ret_1 4 2 5 # SB_DFF (LogicCell: shift2_ret_1_LC_44)
set_location shift_0_1_THRU_LUT4_0 4 1 1 # SB_LUT4 (LogicCell: shift_0[1]_LC_45)
set_location shift_0[1] 4 1 1 # SB_DFF (LogicCell: shift_0[1]_LC_45)
set_location shift_0_2_THRU_LUT4_0 4 1 0 # SB_LUT4 (LogicCell: shift_0[2]_LC_46)
set_location shift_0[2] 4 1 0 # SB_DFF (LogicCell: shift_0[2]_LC_46)
set_location shift_0_RNIETMJ_1_shift_ret_1_REP_LUT4_0 4 1 2 # SB_LUT4 (LogicCell: shift_ret_1_LC_47)
set_location shift_ret_1 4 1 2 # SB_DFF (LogicCell: shift_ret_1_LC_47)
set_io BUT1_ibuf 10 0 0 # ICE_IO
set_io BUT2_ibuf 10 0 1 # ICE_IO
set_io CLK_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io LED0_obuf 7 0 0 # ICE_IO
set_io LED1_obuf 0 10 1 # ICE_IO
set_io LED2_obuf 6 0 1 # ICE_IO
set_io LED3_obuf 0 10 0 # ICE_IO
set_io LED4_obuf 4 0 0 # ICE_IO
set_io LED5_obuf 0 9 1 # ICE_IO
set_io LED6_obuf 3 0 1 # ICE_IO
set_io LED7_obuf 0 9 0 # ICE_IO
