set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_9_0_ 1 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location clk_div_19_THRU_LUT4_0 1 10 7 #SB_LUT4
set_location clk_div_RNO[0] 2 7 5 #SB_LUT4
set_location cntr_RNIE4G1[6] 2 5 2 #SB_LUT4
set_location BIT[1] 1 7 3 #SB_DFFSR
set_location cntr_RNI8GR[0] 1 5 7 #SB_LUT4
set_location clk_div_RNI2VG93[15] 1 9 6 #SB_CARRY
set_location clk_div_1_cry_7_c 2 9 6 #SB_CARRY
set_location cntr_RNIE4G1_0[6] 1 6 3 #SB_LUT4
set_location clk_div_RNI86O8[8] 1 8 7 #SB_CARRY
set_location cntr_RNO[4] 2 6 4 #SB_LUT4
set_location clk_div[10] 2 10 1 #SB_DFF
set_location BIT[6] 2 8 3 #SB_DFFSR
set_location clk_div_RNO[14] 2 10 5 #SB_LUT4
set_location clk_div_RNIN2KP1[12] 1 9 3 #SB_CARRY
set_location clk_div_1_cry_6_c 2 9 5 #SB_CARRY
set_location BIT_RNO[2] 1 7 4 #SB_LUT4
set_location BIT_RNO_0[7] 2 7 0 #SB_LUT4
set_location cntr_RNIVLLQ5[4] 2 8 2 #SB_LUT4
set_location cntr[0] 2 6 0 #SB_DFFE
set_location clk_div_RNIUAR4[4] 1 8 3 #SB_CARRY
set_location clk_div_RNIK8D95[19] 1 10 2 #SB_LUT4
set_location cntr_RNO[1] 2 6 1 #SB_LUT4
set_location clk_div_RNO[7] 2 9 6 #SB_LUT4
set_location clk_div_RNIM6S3[3] 1 8 2 #SB_CARRY
set_location clk_div[15] 2 10 6 #SB_DFF
set_location cntr_cry_c[1] 2 6 1 #SB_CARRY
set_location clk_div_RNO[8] 2 9 7 #SB_LUT4
set_location clk_div_RNI3NJG[19] 2 7 4 #SB_LUT4
set_location clk_div[2] 2 9 1 #SB_DFF
set_location BIT[2] 1 7 4 #SB_DFFSR
set_location clk_div_RNO[10] 2 10 1 #SB_LUT4
set_location clk_div_1_cry_4_c 2 9 3 #SB_CARRY
set_location BIT_RNO[6] 2 8 3 #SB_LUT4
set_location BIT_RNO_0[3] 1 6 2 #SB_LUT4
set_location cntr[4] 2 6 4 #SB_DFFE
set_location clk_div_RNIM4EP4[18] 1 10 1 #SB_CARRY
set_location clk_div_RNIHMP6[6] 1 8 5 #SB_CARRY
set_location cntr_RNO[5] 2 6 5 #SB_LUT4
set_location cntr_RNI6KK_0[2] 2 7 2 #SB_LUT4
set_location clk_div_RNO[3] 2 9 2 #SB_LUT4
set_location clk_div[9] 2 10 0 #SB_DFF
set_location clk_div_1_cry_13_c 2 10 4 #SB_CARRY
set_location clk_div[11] 2 10 2 #SB_DFF
set_location BIT[7] 2 8 5 #SB_DFFSR
set_location cntr_cry_c[5] 2 6 5 #SB_CARRY
set_location cntr_RNIVID[0] 1 6 0 #SB_LUT4
set_location clk_div_RNO[15] 2 10 6 #SB_LUT4
set_location BIT_RNO[3] 1 7 5 #SB_LUT4
set_location BIT_RNO_0[6] 2 7 3 #SB_LUT4
set_location cntr_RNI4OD[2] 2 5 4 #SB_LUT4
set_location cntr[1] 2 6 1 #SB_DFFE
set_location clk_div_1_cry_5_c 2 9 4 #SB_CARRY
set_location clk_div_1_cry_3_c 2 9 2 #SB_CARRY
set_location cntr_RNO[2] 2 6 2 #SB_LUT4
set_location cntr_RNI9VF1[6] 1 5 1 #SB_LUT4
set_location clk_div_RNO[6] 2 9 5 #SB_LUT4
set_location clk_div_1_cry_17_c 2 11 0 #SB_CARRY
set_location GND -1 -1 -1 #GND
set_location cntr_cry_c[0] 2 6 0 #SB_CARRY
set_location clk_div[5] 2 9 4 #SB_DFF
set_location BIT[3] 1 7 5 #SB_DFFSR
set_location clk_div_RNO[11] 2 10 2 #SB_LUT4
set_location clk_div_RNITVFP3[16] 1 9 7 #SB_CARRY
set_location clk_div_RNIF3T2[2] 1 8 1 #SB_CARRY
set_location clk_div_RNIAAMP[10] 1 9 1 #SB_CARRY
set_location BIT_RNO[7] 2 8 5 #SB_LUT4
set_location BIT_RNO_0[2] 1 6 5 #SB_LUT4
set_location cntr[5] 2 6 5 #SB_DFFE
set_location clk_div_1_cry_1_c 2 9 0 #SB_CARRY
set_location cntr_RNO[6] 2 6 6 #SB_LUT4
set_location cntr_RNIC891[6] 1 6 1 #SB_LUT4
set_location clk_div_RNO[2] 2 9 1 #SB_LUT4
set_location clk_div_RNILFN9[9] 1 9 0 #SB_CARRY
set_location clk_div[8] 2 9 7 #SB_DFF
set_location clk_div_1_cry_16_c 2 10 7 #SB_CARRY
set_location clk_div[16] 2 10 7 #SB_DFF
set_location cntr_cry_c[4] 2 6 4 #SB_CARRY
set_location clk_div_RNO[16] 2 10 7 #SB_LUT4
set_location clk_div_RNIP1F94[17] 1 10 0 #SB_CARRY
set_location clk_div_1_cry_8_c 2 9 7 #SB_CARRY
set_location clk_div[1] 2 7 1 #SB_DFF
set_location BIT_RNO_0[5] 1 6 6 #SB_LUT4
set_location BIT_RNO[0] 1 7 1 #SB_LUT4
set_location clk_div_RNIF0J92[13] 1 9 4 #SB_CARRY
set_location cntr_RNO[3] 2 6 3 #SB_LUT4
set_location cntr_RNI6KK[2] 2 5 1 #SB_LUT4
set_location clk_div_RNO[5] 2 9 4 #SB_LUT4
set_location clk_div_RNI0HSQ5[19] 2 7 6 #SB_LUT4
set_location cntr_cry_c[3] 2 6 3 #SB_CARRY
set_location clk_div_RNI8VHP2[14] 1 9 5 #SB_CARRY
set_location clk_div[4] 2 9 3 #SB_DFF
set_location clk_div_1_cry_9_c 2 10 0 #SB_CARRY
set_location clk_div_1_cry_14_c 2 10 5 #SB_CARRY
set_location clk_div[12] 2 10 3 #SB_DFF
set_location BIT[4] 1 7 6 #SB_DFFSR
set_location clk_div_RNO[12] 2 10 3 #SB_LUT4
set_location BIT_RNO[4] 1 7 6 #SB_LUT4
set_location BIT_RNO_0[1] 2 7 7 #SB_LUT4
set_location cntr[2] 2 6 2 #SB_DFFE
set_location cntr_RNI3ND[2] 1 5 4 #SB_LUT4
set_location cntr_RNI1FK[0] 1 5 0 #SB_LUT4
set_location clk_div_RNO[1] 2 7 1 #SB_LUT4
set_location clk_div_1_cry_15_c 2 10 6 #SB_CARRY
set_location clk_div[17] 2 11 0 #SB_DFF
set_location clk_div_RNO[17] 2 11 0 #SB_LUT4
set_location clk_div_RNIICCP5[19] 1 7 2 #SB_LUT4
set_location clk_div_RNI06L91[11] 1 9 2 #SB_CARRY
set_location clk_div[0] 2 7 5 #SB_DFF
set_location BIT_RNO[1] 1 7 3 #SB_LUT4
set_location BIT_RNO_0[4] 1 6 7 #SB_LUT4
set_location BIT[0] 1 7 1 #SB_DFFSR
set_location clk_div_1_cry_12_c 2 10 3 #SB_CARRY
set_location cntr_RNI5PD[1] 2 5 7 #SB_LUT4
set_location cntr[6] 2 6 6 #SB_DFFE
set_location clk_div_RNO[4] 2 9 3 #SB_LUT4
set_location clk_div[18] 2 11 1 #SB_DFF
set_location cntr_cry_c[2] 2 6 2 #SB_CARRY
set_location clk_div_RNI91U1[1] 1 8 0 #SB_CARRY
set_location clk_div_RNI7GQ5[5] 1 8 4 #SB_CARRY
set_location clk_div[7] 2 9 6 #SB_DFF
set_location clk_div_1_cry_2_c 2 9 1 #SB_CARRY
set_location clk_div[13] 2 10 4 #SB_DFF
set_location BIT[5] 1 7 7 #SB_DFFSR
set_location clk_div_RNO[13] 2 10 4 #SB_LUT4
set_location clk_div_RNISTO7[7] 1 8 6 #SB_CARRY
set_location BIT_RNO[5] 1 7 7 #SB_LUT4
set_location BIT_RNO_0[0] 1 6 4 #SB_LUT4
set_location cntr[3] 2 6 3 #SB_DFFE
set_location clk_div_1_cry_10_c 2 10 1 #SB_CARRY
set_location cntr_RNO[0] 2 6 0 #SB_LUT4
set_location clk_div[14] 2 10 5 #SB_DFF
set_location cntr_RNI9591[3] 2 5 5 #SB_LUT4
set_location clk_div_RNO[9] 2 10 0 #SB_LUT4
set_location clk_div_RNO[18] 2 11 1 #SB_LUT4
set_location clk_div[3] 2 9 2 #SB_DFF
set_location clk_div_1_cry_11_c 2 10 2 #SB_CARRY
set_location clk_div[19] 1 10 7 #SB_DFF
set_location clk_div[6] 2 9 5 #SB_DFF
set_io LED5 12
set_io LED1 9
set_io LED6 29
set_io LED4 30
set_io LED2 33
set_io LED0 34
set_io CLK 15
set_io LED7 13
set_io LED3 10
